<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="Project_UI.model.Member" alias="member"/>
  	<typeAlias type="Project_UI.model.Item" alias="item"/>
  	<typeAlias type="Project_UI.model.Image" alias="image"/>
  	<typeAlias type="Project_UI.model.Wish" alias="wish"/>
  </typeAliases>
</configuration>